<section style="background-color: #eeeeee;">
  <div class="my-activities ms-5 p-4">
    {{! Insert the user's workouts below }}
    {{#each workouts as |workout|}}
      <div class="workouts">
        <h1>
          {{workout.name}}
          {{#if workout.completed}}
            <div class="card bg-success d-inline-block">
              <div class="card-body">
                <p class="text-white">Workout Complete!</p>
              </div>
            </div>
          {{else}}
            <div class="card bg-warning d-inline-block">
              <div class="card-body">
                <p class="text-white">Planned Workout</p>
              </div>
            </div>
          {{/if}}
        </h1>
        <p class="ms-5">Date: {{workout.date}}</p>
        <p class="ms-5">Elapsed Time: {{workout.time}}</p>
        <p class="ms-5">Workout Distance:{{workout.distance}}{{workout.unit}}</p>
        <p class="ms-5">Calories burned: {{workout.calories}}</p>

        <p></p>
      </div>
    {{/each}}
  </div>
</section>