<section style="background-color: #eeeeee;">
<div class="my-activities">
        {{!-- Insert the user's workouts below --}}
        {{#each workouts as |workout|}}
        <div class="workouts">
            <h1>{{workout.name}}</h1>
            <p>Date: {{workout.date}}</p>
            <p>Elapsed Time: {{workout.time}}</p>
            <p>Workout Distance: {{workout.distance}}{{workout.unit}}</p>
            <p>Calories burned: {{workout.calories}}</p>
            <p></p>
        </div>
        {{/each}}
    </div>
</div>
</section>