

<section style="background-color: #eeeeee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page"> All about your workouts here! </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row"> 
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{userInfo.image}}" alt="{{userInfo.first_name }}"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"> Your profile details </h5>
            <p class="text-muted mb-1">{{ userInfo.first_name }} </p>
            <p class="text-muted mb-4"> {{ userInfo.last_name }}</p>
            <p class="text-muted mb-4"> Your favourite workout </p>
            <select id="workoutsDropdown" class="form-select" aria-label="Default select example">
              <option selected>Favorite Workout</option>
              <option value="1">Running</option>
              <option value="2">Swimming</option>
              <option value="3">Cycling</option>
              <option value="4">Yoga</option>
              <option value="5">Pilates</option>
              <option value="6">Hiking</option>
              <option value="7">Skydiving</option>
            </select>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
               <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
               <p class="mb-0"><a href='https://www.instagram.com/'> Your Instagram </a> </p>                     
            </li>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0"> Highlights </h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"> Your longest activity in time </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{userInfo.longestActivityTime}} minutes </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"> Your longest distance </p>
              </div>
              <div class="col-sm-9">

                <p class="text-muted mb-0"> {{userInfo.maxDistance}} km</p> 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"> Your higgest calorie hit! </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{userInfo.maxCalorie}} Kcal </p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="row">
          {{#each userInfo.workouts}}
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1"> Your most recent workout </span> 
                </p>
                <p class="mb-1" style="font-size: .77rem;"> Category: {{name}} </p>
                <p class="mt-4 mb-1" style="font-size: .77rem;"> Date: {{date}} </p>
                <p class="mt-4 mb-1" style="font-size: .77rem;"> Time Duration (mins): {{time}} </p>
                <p class="mt-4 mb-1" style="font-size: .77rem;"> Distance: {{distance}} {{unit}} </p>
              </div>
            </div>
          </div>
          {{/each}}
       </div>
</section>

<script src="./js/profile.js"></script>





























